anyio==4.12.1
shellingham==1.5.4
mkdocs==1.6.1
mergedeep==1.3.4
threadpoolctl==3.6.0
mkdocs-material==9.4.6
requests==2.32.5
babel==2.17.0
rich==14.2.0
click==8.3.1
pre_commit==4.1.0
fastapi==0.115.6
mkdocs-get-deps==0.2.0
tzdata==2025.3
iniconfig==2.3.0
pytz==2025.2
nodeenv==1.10.0
mkdocs-material-extensions==1.3.1
certifi==2026.1.4
colorama==0.4.6
uvicorn==0.34.0
pillow==12.1.0
typer==0.15.1
cfgv==3.5.0
numpy==2.4.1
mlops_project==0.0.1
pydantic==2.12.5
paginate==0.5.7
virtualenv==20.36.0
networkx==3.6.1
python-dotenv==1.2.1
contourpy==1.3.3
pytest==8.3.4
seaborn==0.13.2
griffe==1.15.0
mkdocs-autorefs==1.4.3
ruff==0.1.3
idna==3.11
ghp-import==2.1.0
regex==2025.11.3
filelock==3.20.2
distlib==0.4.0
kiwisolver==1.4.9
matplotlib==3.10.8
protobuf==6.33.3
mkdocstrings-python==1.12.2
pyparsing==3.3.1
charset-normalizer==3.4.4
markdown-it-py==4.0.0
h11==0.16.0
gitdb==4.0.12
setuptools==80.9.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyYAML==6.0.3
identify==2.6.15
scipy==1.16.3
pymdown-extensions==10.20
torch==2.6.0
sentry-sdk==2.49.0
antlr4-python3-runtime==4.9.3
pydantic_core==2.41.5
urllib3==2.6.3
typing_extensions==4.15.0
invoke==2.2.0
packaging==25.0
coverage==7.6.9
joblib==1.5.3
wandb==0.23.1
cycler==0.12.1
Jinja2==3.1.6
pyyaml_env_tag==1.1
fsspec==2025.12.0
pandas==2.3.3
MarkupSafe==3.0.3
starlette==0.41.3
pathspec==1.0.2
GitPython==3.1.46
Markdown==3.10
pluggy==1.6.0
Pygments==2.19.2
platformdirs==4.5.1
sympy==1.13.1
mkdocstrings==1.0.0
smmap==5.0.2
watchdog==6.0.0
hydra-core==1.3.2
typing-inspection==0.4.2
annotated-types==0.7.0
fonttools==4.61.1
omegaconf==2.3.0
six==1.17.0
scikit-learn==1.8.0
