sympy==1.13.1
MarkupSafe==3.0.3
distlib==0.4.0
nodeenv==1.10.0
mkdocs==1.6.1
annotated-types==0.7.0
charset-normalizer==3.4.4
shellingham==1.5.4
kiwisolver==1.4.9
mkdocstrings-python==1.12.2
babel==2.17.0
matplotlib==3.10.8
blinker==1.9.0
mkdocs-get-deps==0.2.0
pillow==12.1.0
typing-inspection==0.4.2
networkx==3.6.1
Werkzeug==3.1.5
mdurl==0.1.2
mkdocs-material==9.4.6
invoke==2.2.0
tzdata==2025.3
pydantic_core==2.41.5
cfgv==3.5.0
pydantic==2.12.5
pytest==8.3.4
mkdocs-autorefs==1.4.3
pyyaml_env_tag==1.1
ghp-import==2.1.0
mkdocstrings==1.0.0
PyYAML==6.0.3
pandas==2.3.3
python-dotenv==1.2.1
fsspec==2025.12.0
smmap==5.0.2
platformdirs==4.5.1
colorama==0.4.6
mlops_project==0.0.1
urllib3==2.6.3
pre_commit==4.1.0
GitPython==3.1.46
click==8.3.1
protobuf==6.33.3
fonttools==4.61.1
mergedeep==1.3.4
threadpoolctl==3.6.0
packaging==25.0
python-dateutil==2.9.0.post0
pytz==2025.2
idna==3.11
regex==2025.11.3
filelock==3.20.2
six==1.17.0
functions-framework==3.10.0
coverage==7.6.9
scikit-learn==1.8.0
Jinja2==3.1.6
starlette==0.41.3
Pygments==2.19.2
iniconfig==2.3.0
itsdangerous==2.2.0
mkdocs-material-extensions==1.3.1
gitdb==4.0.12
cycler==0.12.1
numpy==2.4.1
virtualenv==20.36.0
cloudevents==1.12.0
paginate==0.5.7
certifi==2026.1.4
rich==14.2.0
pymdown-extensions==10.20
pathspec==1.0.2
gunicorn==23.0.0
setuptools==80.9.0
scipy==1.16.3
typing_extensions==4.15.0
deprecation==2.1.0
joblib==1.5.3
identify==2.6.15
pluggy==1.6.0
wandb==0.23.1
seaborn==0.13.2
Flask==3.1.2
contourpy==1.3.3
markdown-it-py==4.0.0
griffe==1.15.0
h11==0.16.0
mpmath==1.3.0
sentry-sdk==2.49.0
typer==0.15.1
fastapi==0.115.6
uvicorn-worker==0.3.0
ruff==0.1.3
pyparsing==3.3.1
Markdown==3.10
uvicorn==0.34.0
requests==2.32.5
torch==2.6.0+cpu
anyio==4.12.1
watchdog==6.0.0
